port: "6001"
metrics_port: "9601"
dashboard_port: "5174"
admin_token: "my-super-secret-admin-token"
debug: false
apps:
  - app_id: "my-app-id-1"
    app_key: "my-app-key-1"
    app_secret: "my-app-secret-1"
    allowed_origins: ["*"]
  - app_id: "my-app-id-2"
    app_key: "my-app-key-2"
    app_secret: "my-app-secret-2"
    allowed_origins: ["http://localhost:3000", "https://example.com"]
